body{
    background-color:violet;
    margin: 50px;
    padding: 20px;
    border: #4CAF50 5px solid;
    
}

h1{
    color: #ffaa00;
}
h2{
    color:white;
}
p.poesia{
    color:white; 
    font-family:courier; 
    text-align:center;
	background-color:gray;
}
.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  .navbar li {
    float: left;
  }
  
  .navbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
  .navbar li a:hover {
    background-color: #111;
  }
  .active {
    background-color: #4CAF50;
  }
  .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: red;
    color: white;
    text-align: center;
  }